<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="/style/articles.css">
</head>
<body>
<div class="container">
    <h1>Новости</h1>
    <ul class="news-list">
        {% for item in articles %}
        <li class="news-item">
            <a href="/?page=article&id={{ item.id }}" class="news-link">
                <h2 class="news-title">{{ item.title|raw }}</h2>
            </a>
            <p class="news-content">{{ item.content|raw }}</p>
            <p>Автор: {{ item.getAuthor().name }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
