<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="/style/article.css">
</head>
<body>
<div class="container">
        <h1>Новости</h1>
    <div class="news-item">
        <h2 class="news-title">{{ article.title }}</h2>
        <p class="news-content">{{ article.content }}</p>
        <p>Автор: {{ article.getAuthor().name }}</p>
    </div>
    <div class="back-to-home">
        <a href="/" class="back-button">Вернуться на главную</a>
    </div>
</div>
</body>
</html>

